{% load static %}

<a href="{% url 'pacientes' %}" class="link-lateral">
    <div class="card-lateral">
        <img src="{% static 'plataforma/img/paciente.png' %}">
        <br>
        <br>
  
        <h3>Gerenciar Pacientes</h3>
    </div>
</a>

<a href="{% url 'dados_paciente_listar' %}" class="link-lateral">
    <div class="card-lateral">
        <img src="{% static 'plataforma/img/dados_paciente.png' %}">
        <br>
        <br>

        <h3>Dados do Pacientes</h3>
    </div>
</a>

<a href="{% url 'plano_alimentar_listar' %}" class="link-lateral">
    <div class="card-lateral">
        <img src="{% static 'plataforma/img/plano_alimentar.png' %}">
        <br>
        <br>

        <h3>Plano alimentar</h3>
    </div>
</a>